header{
    width: 1100px;
    margin: auto;
}
/*导航栏*/
nav{
    width: 100%;
    height: 38px;
    border-bottom: 1px solid #ccc;
}
nav>ul{
    height: 38px;
    line-height: 38px;
    font-size: 12px;
    color: #cccccc;
}
nav>ul>li{
    float: left;
    padding: 0 15px;
}
nav>ul>li:first-child{
    padding: 0 15px 0 0;
}
nav>ul>li:last-child{
    padding: 0 0 5px 15px;
}
nav ul.fr li.clearfix{
    padding: 1px 15px 0;
}
nav ul.fl li span{
    width: 120px;
    height: 120px;
    border: 1px solid #ccc;
    z-index: 5;
    transform: translate(-15px,3px);
    display: none;
}
nav ul.fr li span{
    width: 120px;
    height: 120px;
    border: 1px solid #ccc;
    z-index: 5;
    transform: translate(-73px,3px);
    display: none;
}
nav ul li span img{
    width: 119px;
    height: 119px;
}
nav ul li:hover span{
    display: block;
}
nav ul.fr li div{
    font-size: 12px;
    border:1px solid #2D2D2D;
    text-align: center;
    width: 90%;
    top:0;
    left: 4px;
    display: none;
    background: white;
    color: #cccccc;
    z-index: 5;
}
nav ul.fr li:hover div{
    display: block;
}


/*搜索栏*/
.header-main{
    width: 1100px;
    height: 80px;
    margin-bottom: 10px;
}
/*男女区*/
.header-main>div.fl{
    height:80px;
}
.header-main div.fl ul{
    height: 80px;
}
.header-main div.fl ul li{
    display: block;
    float: left;
    height: 37px;
    margin: 30px 5px 0 0;
    padding: 0 15px;
    font-size: 14px;
    position: relative;
    text-align: center;
}
.header-main div.fl ul li:last-child div{
    width: 80px;
    height: 37px;
    background-repeat: no-repeat;
    position: absolute;
    top: -5px;
    left: 5px;
    z-index: -1;
    background-size: 100%;
}
.header-main div.fl ul li div{
    width: 67px;
    height: 37px;
    background-repeat: no-repeat;
    position: absolute;
    top: -5px;
    left: 0;
    z-index: -1;
    background-size: 100%;
}
.header-main div.fl ul li .d1{
    background: url("../public/png/women.png") no-repeat;
    background-size: 100%;
}
.header-main div.fl ul li .d2{
    display: none;
    background: url("../public/png/men.png") no-repeat;
    background-size: 100%;
}
.header-main div.fl ul li .d3{
    display: none;
    background: url("../public/png/design.png") no-repeat;
    background-size: 100%;
}
/*logo*/
.header-main .logo{
    width: 156px;
    height: 42px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.header-main  .logo img{
    width: 156px;
    height: 42px;
}
/*搜索输入栏*/
.header-main>div.fr{
    height: 80px;
    margin:20px 180px 0 0;
}
.header-main div.search{
    width: 292px;
    height: 80px;
    margin:5px 0 0 265px;
}
.header-main div.fr .search div{
    width: 472px;
    height: 28px;
}
.header-main div.fr .search div input{
    border:none;
    width: 260px;
    height: 28px;
    border: 1px solid #2D2D2D;
    outline: none;
}
.header-main div.fr .search div div:nth-child(2){
    width: 30px;
    height: 30px;
    background: #626161;
}
.header-main div.fr .search div div:nth-child(2) img{
    vertical-align: middle;
    margin-left: 5px;
}
/*第二导航栏*/
.nav-second{
    width:470px;
    height: 28px;
    margin: 6px auto;
    font-size: 10px;
}
.nav-second ul{
    font-size: 10px;
    width: 470px;
    height: 28px;
    justify-content: space-between;
    color: #cccccc;
}
.nav-second ul li{
    white-space: nowrap;
    font-size: 8px;
}
/*第三导航栏*/
.nav-third{
    width: 100%;
    height: 38px;
    line-height: 38px;
    margin: auto;
    background: black;
    justify-content: space-between;
}
.nav-third>ul.fl{
    width: 50%;
    justify-content: space-between;
}
.nav-third>ul.fr{
    width: 20%;
    justify-content: space-between;
}
.nav-third ul li{
    padding:0 20px;
    color: white;
}
.nav-third>ul.fr li:first-child{
    padding: 0 35px;
}

