blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul li {
  list-style: none;
}
.clear:after {
  display: block;
  clear: both;
  content: '';
  visibility: hidden;
  height: 0;
  zoom: 1;
}
img {
  vertical-align: top;
}
i,
em {
  font-style: normal;
}
