/* user-order/0.0.1 common.css Date:2017-03-02 18:42:04 */
@charset "UTF-8";

.mt-1 {
	margin-top: -1px
}

.mt-2 {
	margin-top: -2px
}

.mt-3 {
	margin-top: -3px
}

.mt5 {
	margin-top: 5px
}

.mt10 {
	margin-top: 10px
}

.mt20 {
	margin-top: 20px
}

.mr5 {
	margin-right: 5px
}

.mr10 {
	margin-right: 10px
}

.mr20 {
	margin-right: 20px
}

.mr30 {
	margin-right: 30px
}

.mb5 {
	margin-bottom: 5px
}

.mb10 {
	margin-bottom: 10px
}

.ml5 {
	margin-left: 5px
}

.ml10 {
	margin-left: 10px
}

.ml20 {
	margin-left: 20px
}

.mb20 {
	margin-bottom: 20px
}

.pt5 {
	padding-top: 5px
}

.pt10 {
	padding-top: 10px
}

.pr5 {
	padding-right: 5px
}

.pr10 {
	padding-right: 10px
}

.pb5 {
	padding-bottom: 5px
}

.pb10 {
	padding-bottom: 10px
}

.pl5 {
	padding-left: 5px
}

.pl10 {
	padding-left: 10px
}

.ftx-01,.ftx01 {
	color: #e4393c
}

.ftx-02,.ftx02 {
	color: #71b247
}

.ftx-03,.ftx03 {
	color: #aaa
}

.ftx-04,.ftx04 {
	color: #fab715
}

.ftx-05,.ftx05 {
	color: #005ea7
}

.ftx-06,.ftx06 {
	color: #666
}

.ftxemp {
	color: #333
}

.f-price {
	font-family: verdana
}

.btn-1,.btn-2,.btn-3,.btn-4 {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	height: 18px;
	line-height: 18px;
	border-radius: 2px;
	padding: 4px 14px 5px;
	color: #e4393c;
	background: #fff;
	border: 1px solid #e4393c
}

.btn-1:hover,.btn-2:hover,.btn-3:hover,.btn-4:hover {
	background: #e4393c;
	color: #fff
}

.btn-5,.btn-6,.btn-7,.btn-8 {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	height: 18px;
	line-height: 18px;
	padding: 4px 14px 5px;
	border: 1px solid #71b247;
	background: #fff;
	border-radius: 2px;
	color: #323333
}

.btn-5:hover,.btn-6:hover,.btn-7:hover,.btn-8:hover {
	background: #71b247;
	color: #fff
}

.btn-5:link,.btn-5:visited,.btn-6:link,.btn-6:visited,.btn-7:link,.btn-7:visited,.btn-8:link,.btn-8:visited {
	color: #323333;
	text-decoration: none
}

.btn-10,.btn-11,.btn-12,.btn-9 {
	border-radius: 2px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	height: 18px;
	line-height: 18px;
	border: 1px solid #ddd;
	padding: 4px 14px 5px;
	background: #f5f5f5;
	color: #323333
}

.btn-10:link,.btn-10:visited,.btn-11:link,.btn-11:visited,.btn-12:link,.btn-12:visited,.btn-9:link,.btn-9:visited {
	color: #333;
	text-decoration: none
}

.btn-10:hover,.btn-11:hover,.btn-12:hover,.btn-9:hover {
	border: 1px solid #e4393c;
	color: #e4393c;
	background: #fff
}

.btn-13,.btn-14,.btn-15,.btn-16 {
	background: #fff;
	border-radius: 2px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	height: 18px;
	line-height: 18px;
	border: 1px solid #ddd;
	padding: 2px 14px 3px;
	color: #ccc
}

.btn-13:hover,.btn-14:hover,.btn-15:hover,.btn-16:hover {
	background: #fff
}

.btn-13:link,.btn-13:visited,.btn-14:link,.btn-14:visited,.btn-15:link,.btn-15:visited,.btn-16:link,.btn-16:visited {
	color: #ccc;
	text-decoration: none
}

.btn-10,.btn-14 {
	padding: 5px 14px
}

.btn-disabled {
	background: #f5f5f5;
	border-radius: 2px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	height: 18px;
	line-height: 18px;
	border: 1px solid #ddd;
	padding: 2px 14px 3px;
	color: #aaa;
	cursor: default
}

.btn-disabled:hover {
	color: #aaa
}

.link-btn {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	color: #333
}

.btn-video b,.delay-icon,.emph-wrap .emph-tips b,.invoice-icon,.remind-tipbox .remind-icon,a.btn-again b,a.btn-bean b,a.btn-code b,a.btn-coupon b,a.btn-del b,a.btn-print b,a.btn-rank b,a.btn-scan b,a.btn-share b,a.btn-upload b {
	background-image: url(../../Images/order-icons_2.png);
	background-repeat: no-repeat
}

a.btn-print b {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 15px;
	height: 15px;
	background-position: 0 -44px;
	margin-right: 3px;
	vertical-align: middle
}

a.btn-print:hover b {
	background-position: 0 -133px
}

a.btn-del b {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 16px;
	height: 16px;
	background-position: -48px -44px;
	margin-right: 3px;
	vertical-align: middle
}

a.btn-del:hover b {
	background-position: -48px -133px
}

a.btn-share {
	margin-left: 30px;
	margin-right: -30px
}

a.btn-share b {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 16px;
	height: 16px;
	background-position: -114px -43px;
	margin-right: 3px;
	vertical-align: middle
}

a.btn-share:hover b {
	background-position: -114px -132px
}

a.btn-coupon b {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 18px;
	height: 12px;
	background-position: -26px 0;
	margin-right: 3px;
	vertical-align: middle
}

a.btn-coupon:hover {
	cursor: default
}

a.btn-bean b {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 16px;
	height: 12px;
	background-position: 0 0;
	margin-right: 3px;
	vertical-align: middle
}

a.btn-bean:hover {
	cursor: default
}

a.btn-rank b {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 10px;
	height: 12px;
	background-position: -54px 0;
	margin-right: 3px;
	vertical-align: middle
}

a.btn-rank:hover {
	cursor: default
}

a.btn-upload b {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 12px;
	height: 12px;
	background-position: -74px -44px;
	margin-right: 3px;
	vertical-align: middle
}

a.btn-upload:hover b {
	background-position: -74px -133px
}

.code-site {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 14px;
	height: 14px;
	background: url(../../Images/code-site_1.png) no-repeat;
	margin-right: 5px;
	vertical-align: middle;
	overflow: hidden
}

a.btn-code b {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 14px;
	height: 14px;
	background-position: -25px -44px;
	margin-right: 5px;
	vertical-align: middle
}

a.btn-code:hover b {
	background-position: -25px -133px
}

a.btn-scan b {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 13px;
	height: 13px;
	background-position: 0 -156px;
	margin-right: 5px;
	vertical-align: middle
}

a.btn-scan:hover b {
	background-position: 0 -182px
}

a.btn-again {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	padding: 2px 0 3px;
	background: #f9f9f9;
	border: 1px solid #ddd;
	color: #333;
	border-radius: 2px;
	width: 85px;
	text-align: center
}

a.btn-again b {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	width: 10px;
	height: 17px;
	margin-right: 5px;
	background-position: -24px -156px
}

a.btn-again:hover {
	background: #fff;
	border-color: #e4393c;
	color: #e4393c
}

a.btn-again:hover b {
	background-position: -24px -182px
}

.btn-video b {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	width: 14px;
	height: 14px;
	margin-right: 5px;
	background-position: -80px -157px;
	overflow: hidden
}

.btn-video:hover b {
	background-position: -80px -181px
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

#container {
	padding-bottom: 80px
}

#container .m {
	margin-bottom: 20px
}

#container .mc {
	background: #fff;
	border: 1px solid #eee
}

.tb-void {
	width: 100%
}

.order-goods #im {
	padding-left: 0;
	height: auto;
	background: 0 0
}

.order-goods #im s {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 16px;
	height: 16px;
	line-height: 99em;
	margin: 4px 0 0 5px;
	overflow: hidden;
	background: url(../../Images/sprite-im_2.png) -26px 0 no-repeat;
	vertical-align: middle
}

.order-goods #im.im-jd s {
	background-position: 0 0
}

.order-goods #im.im-offline s {
	background-position: -52px 0
}

.breadcrumb {
	height: 50px;
	overflow: hidden;
	line-height: 50px;
	vertical-align: baseline
}

.breadcrumb h1 {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	font-weight: 700;
	line-height: 50px;
	font-size: 18px;
	font-family: "microsoft yahei"
}

.breadcrumb strong {
	font-weight: 700;
	line-height: 50px
}

.breadcrumb span {
	font-family: "\5b8b\4f53"
}

.emph-wrap {
	background: #fff
}

.emph-wrap .emph-tips {
	height: 30px;
	line-height: 30px;
	background: #fff
}

.emph-wrap .emph-tips b {
	display: inline-block;
	:@inlcude inline-block;width: 11px;
	height: 15px;
	background-position: 0 -93px;
	margin-right: 10px;
	vertical-align: middle
}

.form {
	font-family: "Microsoft YaHei"
}

.form .item {
	display: inline-block;
	display: block;
	margin-bottom: 20px;
	line-height: 30px
}

.form .item:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

* html .form .item {
	height: 1%
}

*+html .form .item {
	min-height: 1%
}

.form .item span.label {
	float: left;
	height: 18px;
	line-height: 18px;
	padding: 6px 0;
	width: 80px;
	text-align: left;
	color: #999
}

.form .item-rcol {
	float: left
}

.form em {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	margin-right: 3px;
	color: #e4393c
}

.form .area,.form .itxt,.form .sele,.form .selt {
	line-height: 18px;
	border: 1px solid #ddd;
	padding: 5px;
	float: none;
	font-size: 12px;
	font-family: "Microsoft YaHei"
}

.form .area {
	resize: none
}

.form .sele,.form .selt {
	width: 100px
}

.form .selt1 {
	width: 70px
}

.form .itxt,.form .text {
	height: 18px;
	width: 127px;
	padding: 5px
}

.form .itxt1 {
	width: 287px
}

.form .itxt-focus {
	border-color: #71b247
}

.form .itxt-error {
	border-color: #e4393c
}

.form .error-msg {
	padding-left: 21px;
	background: url(../../Images/error-icon_1.png) left center no-repeat;
	color: #e4393c
}

.form label {
	float: none
}

.form .jdcheckbox,.form .jdradio {
	float: none;
	vertical-align: -2px;
	_vertical-align: -1px;
	margin: 0 3px 0 0;
	padding: 0
}

.remd-form {
	width: 395px;
	margin: 10px auto 0
}

.remd-form .item-top {
	position: relative;
	padding-left: 100px;
	line-height: 22px;
	color: #999
}

.remd-form .area {
	width: 296px;
	height: 55px;
	border: 0
}

.remd-form .area-box {
	border: 1px solid #ddd
}

.remd-form .area-box-focus {
	border-color: #71b247
}

.remd-form .area-box-error {
	border-color: #e4393c
}

.remd-form .area-count {
	line-height: 18px;
	margin: 5px 5px 5px 0;
	text-align: right;
	color: #999
}

.remd-form .itxt {
	width: 296px
}

.remd-form .joy-icon {
	position: absolute;
	top: 0;
	left: 35px;
	display: block;
	width: 50px;
	height: 43px;
	background: url(../../Images/joy-icons_2.png) no-repeat;
	overflow: hidden
}

.remd-form .list {
	@inlcude clearfix
}

.remd-form .list li {
	cursor: pointer;
	float: left;
	position: relative;
	height: 18px;
	line-height: 18px;
	margin-right: 10px;
	padding: 5px 26px;
	border: 1px solid #ddd
}

.remd-form .list li.selted {
	padding: 4px 25px;
	border: 2px solid #e4393c
}

.remd-form .list li.selted s {
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 16px;
	height: 16px;
	background: url(../../Images/selt_2.png) no-repeat
}

.remd-form .btn-1 {
	width: 80px;
	height: 34px;
	line-height: 34px;
	padding: 0;
	text-align: center;
	background: #e4393c;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	border-radius: 2px
}

.tip-box {
	margin: 10px 40px
}

.tip-box .op-btns {
	margin-top: 15px
}

.tip-box h3 {
	font-family: "Microsoft YaHei";
	font-size: 18px;
	line-height: 30px;
	font-weight: 400
}

.tip-box .links {
	margin-left: -6px
}

.tip-box .links ul {
	display: inline-block;
	display: block
}

.tip-box .links ul:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

* html .tip-box .links ul {
	height: 1%
}

*+html .tip-box .links ul {
	min-height: 1%
}

.tip-box .links li {
	float: left;
	border-left: 1px solid #ccc;
	padding: 0 5px
}

.tip-box .item-fore {
	overflow: hidden
}

.tip-box .item-fore div {
	line-height: 20px;
	min-height: 20px
}

.icon-box {
	position: relative;
	_height: 48px;
	_overflow: visible
}

.icon-box .m-icon {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	position: absolute;
	top: 0;
	left: 0;
	width: 50px;
	height: 50px;
	background: url(../../Images/icon48_2.png) no-repeat
}

.icon-box .succ-icon {
	background-position: 0 0
}

.icon-box .warn-icon {
	background-position: -59px 0
}

.icon-box .qm-icon {
	background-position: -119px 0
}

.icon-box .item-fore {
	margin-left: 58px
}

.icon-box .em-icon {
	background: url(../../Images/mark-icon_2.png) no-repeat
}

.icon-box .btn-1,.icon-box .btn-9 {
	width: 80px;
	height: 34px;
	line-height: 34px;
	padding: 0;
	text-align: center;
	font-size: 14px;
	border-radius: 2px
}

.icon-box .btn-1 {
	background: #e4393c;
	color: #fff;
	font-weight: 700
}

.pre-delivery-box {
	width: 425px;
	padding: 10px;
	margin: 0 auto
}

.pre-delivery-box .tip-box {
	margin: 0;
	padding-bottom: 20px;
	border-bottom: 1px solid #f1f1f1
}

.pre-delivery-box .pred-goods {
	width: 425px;
	height: 164px
}

.pre-delivery-box .p-item {
	display: inline-block;
	display: block;
	padding: 15px 0 5px
}

.pre-delivery-box .p-item:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

* html .pre-delivery-box .p-item {
	height: 1%
}

*+html .pre-delivery-box .p-item {
	min-height: 1%
}

.pre-delivery-box .p-img {
	float: left;
	width: 60px;
	border: 1px solid #efefef
}

.pre-delivery-box .p-name {
	float: left;
	width: 275px;
	height: 50px;
	margin: 0 30px 0 10px;
	line-height: 25px;
	overflow: hidden;
	_display: inline
}

.pre-delivery-box .p-state {
	float: left;
	width: 30px;
	text-align: right
}

.pre-delivery-box .btn-1,.pre-delivery-box .btn-9 {
	width: 80px;
	height: 34px;
	line-height: 34px;
	padding: 0;
	text-align: center;
	font-size: 14px;
	border-radius: 2px
}

.pre-delivery-box .btn-1 {
	background: #e4393c;
	color: #fff;
	font-weight: 700
}

.pre-delivery-box .ui-scrollbar-item3 {
	border: #ccc 1px solid;
	background: #ddd;
	border-radius: 5px
}

.remind-tipbox {
	margin-bottom: 10px;
	padding: 6px 9px;
	border: 1px solid #f2e0d4;
	background: #fffdee;
	color: #666
}

.remind-tipbox .remind-icon {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 17px;
	height: 17px;
	background-position: -72px -92px;
	margin-right: 10px;
	vertical-align: middle
}

.delay-icon {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 15px;
	height: 15px;
	background-position: -45px -92px;
	margin-right: 3px;
	vertical-align: middle
}

.invoice-icon {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 16px;
	height: 16px;
	background-position: -103px -156px;
	margin-right: 3px;
	vertical-align: middle
}

.tooltip {
	position: relative;
	z-index: 2;
	color: #333
}

.prompt-01 {
	position: absolute;
	width: 122px;
	border: 1px solid #ddd;
	background: #fff;
	box-shadow: 0 0 2px 2px #eee;
	border-radius: 1px
}

.prompt-01 .pc {
	background: #fff;
	padding: 10px;
	color: #333;
	text-align: left;
	overflow: hidden
}

.prompt-01 .pc dl {
	border-bottom: 1px solid #ccc;
	line-height: 16px;
	margin-bottom: 5px;
	padding-bottom: 5px;
	overflow: hidden
}

.prompt-01 .pc dl dd,.prompt-01 .pc dl dt {
	font-weight: 700
}

.prompt-01 .pc li {
	overflow: hidden;
	zoom: 1
}

.prompt-01 .p-arrow {
	position: absolute;
	background: url(../../Images/arrow-gray_2.png) no-repeat
}

.prompt-01 .p-arrow-left {
	right: -8px;
	top: 20px;
	width: 8px;
	height: 16px;
	background-position: -7px 0
}

.prompt-01 .p-arrow-right {
	left: -8px;
	top: 20px;
	width: 8px;
	height: 16px;
	background-position: 0 0
}

.prompt-01 .p-arrow-top {
	left: 20px;
	top: -8px;
	width: 16px;
	height: 8px;
	background-position: 0 0
}

.prompt-01 .p-arrow-bottom {
	left: 20px;
	bottom: -7px;
	width: 16px;
	height: 8px;
	background-position: 0 -7px
}

.prompt-box {
	text-align: center
}

.prompt-box h4 {
	font-weight: 400
}

.info-prompt-box .item {
	display: inline-block;
	display: block;
	line-height: 20px;
	color: #999
}

.info-prompt-box .item:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

* html .info-prompt-box .item {
	height: 1%
}

*+html .info-prompt-box .item {
	min-height: 1%
}

.info-prompt-box .item.ext-info {
	display: none
}

.info-prompt-box .label {
	float: left;
	width: 84px;
	text-align: left
}

.info-prompt-box .info-rcol {
	float: left;
	text-align: left;
	width: 105px;
	font-family: verdana
}

div.prompt-tips {
	border: 1px solid #ddd;
	background: #fff
}

div.prompt-tips .ui-tips-arrow {
	background-image: url(../../Images/arrow_2.png)
}

div.invoice-box .prompt-box {
	width: 400px;
	cursor: default;
	text-align: left
}

div.invoice-box .prompt-box .p-tit {
	display: inline-block;
	display: block;
	margin: -10px 0 0 -10px;
	height: 35px;
	line-height: 35px;
	padding: 0 0 0 20px;
	font-weight: 700;
	border-bottom: 1px solid #e3e3e3
}

div.invoice-box .prompt-box .p-tit:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

* html div.invoice-box .prompt-box .p-tit {
	height: 1%
}

*+html div.invoice-box .prompt-box .p-tit {
	min-height: 1%
}

div.invoice-box .prompt-box .p-tit .extra-r {
	float: right
}

div.invoice-box .ui-tips-close {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 17px;
	height: 17px;
	line-height: 99em;
	top: 9px;
	right: 20px;
	background: url(../../Images/order-icons_2.png) -115px 0;
	overflow: hidden
}

div.invoice-box .invoice-cont {
	position: relative;
	margin-left: 15px;
	max-height: 410px;
	overflow-y: auto;
	padding-left: 5px;
	margin-bottom: 20px
}

div.invoice-box .invoice-cont li {
	position: relative;
	overflow: visible;
	width: 340px;
	padding: 15px 0 0 15px;
	border-left: 1px solid #e3e3e3
}

div.invoice-box .invoice-cont .node-icon {
	display: block;
	position: absolute;
	top: 21px;
	left: -4px;
	width: 8px;
	height: 8px;
	overflow: hidden;
	background: url(../../Images/order-icons_2.png) -60px -72px no-repeat;
	vertical-align: middle
}

div.invoice-box .invoice-cont li.first {
	color: #e4393c
}

div.invoice-box .invoice-cont li.first .node-icon {
	background-position: -43px -72px
}

div.invoice-box .invoice-cont li.more {
	height: 37px
}

div.invoice-box .invoice-cont li.more .node-icon {
	height: 36px;
	background: url(../../Images/bg-node-icon_2.png) no-repeat
}

.gift-box {
	width: 440px;
	padding: 10px;
	overflow: hidden
}

.gift-box .g-from,.gift-box .g-to {
	height: 31px;
	padding-right: 56px;
	background: url(../../Images/giftbox-hr_1.png) no-repeat;
	overflow: hidden;
	color: #333;
	font-size: 14px;
	white-space: nowrap
}

.gift-box .g-from span,.gift-box .g-to span {
	font-style: italic;
	padding-right: 8px
}

.gift-box .g-to {
	float: left
}

.gift-box .g-from {
	float: right
}

.gift-box .g-cont {
	clear: both;
	width: 440px;
	margin-bottom: 20px;
	line-height: 31px;
	min-height: 124px;
	word-wrap: break-word;
	word-break: break-all;
	text-indent: 2em;
	color: #adadad;
	background: url(../../Images/giftbox-hr_1.png) repeat-y
}

.sharetip {
	width: 100px
}

.sharetip .img-box {
	width: 80px;
	height: 80px;
	border: 1px solid #dbdbdb;
	margin: 0 auto
}

.sharetip .share-tip {
	width: 90px;
	padding-top: 10px;
	display: inline-block
}/* user-order/0.0.1 order-state.css Date:2016-08-18 18:14:16 */
@charset "UTF-8";

.order-state .mb,.order-state .remain-time b {
	background-image: url(../../Images/order-icons_2.png);
	background-repeat: no-repeat
}

.order-state {
	border-top: 3px solid #fff
}

.order-state .mb {
	position: relative;
	top: -2px;
	height: 4px;
	background-position: 0 -117px;
	background-repeat: repeat-x
}

.order-state .state-cont {
	position: relative;
	:@inlcude clearfix
}

.order-state .state-lcol {
	float: left;
	width: 243px;
	padding: 20px 0 38px;
	text-align: center
}

.order-state .state-rcol {
	float: left;
	border-left: 1px solid #f1f1f1;
	padding: 20px 0 38px 20px;
	width: 720px
}

.order-state .state-top {
	margin-bottom: 30px;
	color: #999
}

.order-state .state-rtop {
	height: 70px;
	overflow: hidden
}

.order-state .state-txt {
	font: 700 24px/34px "Microsoft YaHei"
}

.order-state .remain-time {
	color: #aaa
}

.order-state .remain-time b {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 15px;
	height: 15px;
	margin-right: 3px;
	vertical-align: middle;
	background-position: -21px -93px
}

.order-state .remain-time.urgent {
	color: #e4393c
}

.order-state .state-btns {
	min-height: 107px;
	_height: 107px;
	margin: 20px 0 30px
}

.order-state .state-btns a {
	display: block;
	margin: 10px auto 0
}

.order-state .state-btns .btn-1 {
	font-weight: 700
}

.order-state .state-btns .btn-1,.order-state .state-btns .btn-5,.order-state .state-btns .btn-9,.order-state .state-btns .btn-disabled {
	width: 98px;
	padding: 4px 0 5px
}

.order-state .state-bottom {
	position: absolute;
	width: 243px;
	left: 0;
	bottom: 20px;
	text-align: center
}

.order-state .state-bottom a {
	color: #333
}

.order-state .state-bottom .btn-del {
	margin-left: 70px
}

.order-state01 {
	border-color: #e4393c
}

.order-state02 {
	border-color: #71b247
}

.order-state03 {
	border-color: #fab715
}

.state-others {
	position: absolute;
	left: 263px;
	bottom: 20px;
	color: #999
}

.state-others .got {
	color: #e4393c
}

.state-others a {
	color: #999
}

.root61 .order-state .state-bottom,.root61 .order-state .state-lcol {
	width: 325px
}

.root61 .order-state .state-rcol {
	width: 860px
}

.root61 .order-state .state-others {
	left: 345px
}
/* user-order/0.0.1 order-process.css Date:2016-08-18 18:14:16 */
@charset "UTF-8";

.order-process {
	display: inline-block;
	display: block;
	margin: 38px 0 96px
}

.order-process:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

* html .order-process {
	height: 1%
}

*+html .order-process {
	min-height: 1%
}

.order-process ul {
	position: absolute;
	width: 100%;
	margin-top: -38px;
	text-align: center
}

.order-process .txt1 {
	height: 36px;
	margin-bottom: 53px;
	font-size: 12px
}

.order-process .txt2 {
	font-size: 14px;
	line-height: 25px;
	color: #aaa
}

.order-process .txt3 {
	color: #aaa;
	line-height: 15px
}

.order-process .node {
	position: relative;
	top: -17px;
	float: left;
	width: 45px;
	height: 43px
}

.order-process .node .node-icon {
	position: absolute;
	display: block;
	left: 1px;
	top: 0;
	width: 43px;
	height: 43px;
	background: url(../../Images/node-icons_1.png) no-repeat;
	overflow: hidden
}

.order-process .node .icon-start {
	background-position: 0 -108px
}

.order-process .node .icon-pay {
	background-position: -54px 0
}

.order-process .node .icon-store {
	background-position: -108px 0
}

.order-process .node .icon-cabinet {
	background-position: -162px 0
}

.order-process .node .icon-finish {
	background-position: -216px 0
}

.order-process .node .icon-express {
	background-position: -270px 0
}

.order-process .node ul {
	z-index: 1;
	width: 189px;
	margin-left: -62px
}

.order-process .proce {
	position: relative;
	float: left;
	width: 104px;
	height: 9px;
	background: url(../../Images/proce-icons02_1.png) no-repeat
}

.order-process .done {
	background-position: 0 -38px
}

.order-process .done .txt1 {
	color: #71b247;
	font-weight: 700
}

.order-process .doing {
	background-position: 0 0
}

.order-process .doing .txt1,.order-process .doing .txt2 {
	color: #71b247;
	font-weight: 700
}

.order-process .doing .icon-start {
	background-position: 0 -54px
}

.order-process .doing .icon-pay {
	background-position: -54px -54px
}

.order-process .doing .icon-store {
	background-position: -108px -54px
}

.order-process .doing .icon-cabinet {
	background-position: -162px -54px
}

.order-process .doing .icon-finish {
	background-position: -216px -54px
}

.order-process .doing .icon-express {
	background-position: -270px -54px
}

.order-process .ready .txt2,.order-process .ready .txt3 {
	color: #333
}

.order-process .ready .icon-start {
	background-position: 0 -108px
}

.order-process .ready .icon-pay {
	background-position: -54px -108px
}

.order-process .ready .icon-store {
	background-position: -108px -108px
}

.order-process .ready .icon-cabinet {
	background-position: -162px -108px
}

.order-process .ready .icon-finish {
	background-position: -216px -54px
}

.order-process .ready .icon-express {
	background-position: -270px -108px
}

.order-process .wait {
	background-position: 0 -19px
}

.order-warn-process .done {
	background-position: 0 -57px
}

.order-warn-process .done .txt1 {
	color: #fab715
}

.order-warn-process .doing {
	background-position: 0 -94px
}

.order-warn-process .doing .txt1,.order-warn-process .doing .txt2 {
	color: #fab715;
	font-weight: 700
}

.order-warn-process .doing .icon-refund {
	background-position: -324px -54px
}

.order-warn-process .doing .icon-restore {
	background-position: -378px -54px
}

.order-warn-process .doing .icon-deal {
	background-position: -432px -54px
}

.order-warn-process .node .icon-finish {
	background-position: -486px 0
}

.order-warn-process .ready .icon-start {
	background-position: 0 -162px
}

.order-warn-process .ready .icon-pay {
	background-position: -54px -162px
}

.order-warn-process .ready .icon-store {
	background-position: -108px -162px
}

.order-warn-process .ready .icon-finish {
	background-position: -486px -54px
}

.order-warn-process .ready .icon-cabinet {
	background-position: -162px -162px
}

.order-strike-process .ready .icon-start {
	background-position: 0 -216px
}

.order-strike-process .doing {
	background-position: 0 -76px
}

.order-strike-process .doing .txt1,.order-strike-process .doing .txt2 {
	color: #e4393c;
	font-weight: 700
}

#process-01 {
	width: 194px
}

#process-02 {
	width: 343px
}

#process-03 {
	width: 492px
}

#process-04 {
	width: 641px
}

.root61 .order-process .node {
	width: 65px
}

.root61 .order-process .node .node-icon {
	left: 11px
}

.root61 .order-process .proce {
	width: 124px;
	background-image: url(../../Images/proce-icons_1.png)
}

.root61 #process-01 {
	width: 254px
}

.root61 #process-02 {
	width: 443px
}

.root61 #process-03 {
	width: 632px
}

.root61 #process-04 {
	width: 821px
}
/* user-order/0.0.1 order-track.css Date:2016-08-18 18:14:16 */
@charset "UTF-8";

.order-track {
	position: relative
}

.order-track .track-tab {
	position: absolute;
	left: 0;
	top: 0;
	height: 44px;
	line-height: 42px;
	text-align: center;
	width: 243px
}

.order-track .track-tab ul {
	display: inline-block;
	display: block;
	width: 246px;
	margin-left: -1px
}

.order-track .track-tab ul:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

* html .order-track .track-tab ul {
	height: 1%
}

*+html .order-track .track-tab ul {
	min-height: 1%
}

.order-track .track-tab .tab-item {
	color: #333;
	cursor: pointer;
	float: left;
	height: 42px;
	line-height: 42px;
	width: 122px;
	margin-top: -2px;
	font-size: 14px;
	border-top: 2px solid #fff;
	border-bottom: 1px solid #eee;
	border-left: 1px solid #eee
}

.order-track .track-tab .curr {
	border-top: 2px solid #e4393c;
	margin-top: 0;
	padding-top: 0;
	border-bottom: 1px solid #fff;
	color: #e4393c
}

.order-track .track-tab-single .tab-item {
	width: 243px
}

.order-track .track-cont {
	display: inline-block;
	display: block
}

.order-track .track-cont:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

* html .order-track .track-cont {
	height: 1%
}

*+html .order-track .track-cont {
	min-height: 1%
}

.order-track .track-lcol {
	float: left;
	width: 203px;
	padding: 50px 20px 20px
}

.order-track .track-rcol {
	float: left;
	width: 740px;
	border-left: 1px solid #eee
}

.order-track .p-item {
	display: inline-block;
	display: block;
	margin-bottom: 30px;
	background: url(../../Images/pimg-bg_1.png) 50px top no-repeat
}

.order-track .p-item:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

* html .order-track .p-item {
	height: 1%
}

*+html .order-track .p-item {
	min-height: 1%
}

.order-track .p-item .p-img {
	float: left;
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	margin: 4px 0 0 50px;
	border: 1px solid #efefef
}

.order-track .p-item .p-info {
	float: left;
	width: 185px;
	margin: 10px 0 0;
	line-height: 25px;
	color: #333;
	_display: inline;
	word-break: break-all
}

.order-track .track-list {
	margin: 20px;
	height: 216px;
	padding-left: 5px;
	overflow-y: auto;
	position: relative
}

.order-track .track-list li {
	position: relative;
	padding: 9px 0 0 25px;
	line-height: 18px;
	border-left: 1px solid #d9d9d9;
	color: #333
}

.order-track .track-list li .node-icon {
	position: absolute;
	left: -6px;
	top: 50%;
	width: 11px;
	height: 11px;
	background: url(../../Images/order-icons_2.png) -21px -72px no-repeat
}

.order-track .track-list li .time,.order-track .track-list li .txt {
	position: relative;
	top: 4px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle
}

.order-track .track-list li .txt {
	max-width: 505px
}

.order-track .track-list li .time {
	margin-right: 20px
}

.order-track .track-list li.first {
	color: #e4393c;
	padding-top: 0;
	border-left-color: #fff;
	font-size: 14px;
	font-weight: 600
}

.order-track .track-list li.first .node-icon {
	background-position: 0 -72px
}

.order-track .install-item {
	:@inlcude clearfix;cursor: pointer;
	height: 52px;
	padding: 10px 20px;
	margin: 0 -20px
}

.order-track .install-item .p-img {
	float: left;
	width: 50px;
	height: 50px;
	margin-right: 10px;
	border: 1px solid #efefef;
	_display: inline
}

.order-track .install-item .p-img img {
	width: 50px;
	height: 50px
}

.order-track .install-item .p-img img.blank {
	background: url(../../Images/error-jd_2.gif) no-repeat center center #FFF
}

.order-track .install-item .p-name {
	width: 140px;
	height: 44px;
	margin: 0;
	line-height: 22px;
	overflow: hidden;
	color: #999
}

.order-track .install-item-curr {
	background: #f8f8f8
}

.order-track .install-item-curr .p-name {
	color: #333
}

.order-track #install-scrollbar {
	width: 203px;
	height: 216px;
	overflow: hidden
}

.order-track .ui-scrollbar-item3 {
	border: #ccc 1px solid;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #ddd
}

.order-track .gis-box {
	position: relative;
	display: none;
	margin: 20px;
	border: 1px solid #eaeaea
}

.order-track .gis-box .gis-arr {
	position: absolute;
	top: -10px;
	left: 90px;
	display: block;
	width: 19px;
	height: 10px;
	background: url(../../Images/gis-arr_1.png) no-repeat;
	opacity: .5;
	filter: alpha(opacity=50)
}

.order-track-02 .track-lcol {
	padding-top: 30px
}

.root61 .order-track .track-tab {
	width: 325px
}

.root61 .order-track .track-tab ul {
	width: 328px
}

.root61 .order-track .track-tab .tab-item {
	width: 162px
}

.root61 .order-track .track-tab-single .tab-item {
	width: 325px
}

.root61 .order-track .track-lcol {
	width: 285px
}

.root61 .order-track .track-rcol {
	width: 880px
}

.root61 .order-track .p-item {
	background-position: left top
}

.root61 .order-track .p-item .p-img {
	margin: 4px 0 0
}

.root61 .order-track .p-item .p-info {
	width: 158px;
	margin-left: 15px
}

.root61 .order-track .install-item .p-name {
	width: 220px
}

.root61 .order-track .track-list li .txt {
	max-width: 640px
}

.root61 .order-track .gis-box .gis-arr {
	left: 140px
}

.root61 .order-track #install-scrollbar {
	width: 305px
}

.track-list::-webkit-scrollbar {
	width: 7px;
	height: 9px
}

.track-list::-webkit-scrollbar-button:end:increment,.track-list::-webkit-scrollbar-button:start:decrement {
	display: block;
	height: 0;
	background-color: transparent
}

.track-list::-webkit-scrollbar-track-piece {
	-webkit-border-radius: 0;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	background: #ebebeb
}

.track-list::-webkit-scrollbar-thumb:vertical {
	height: 50px;
	background-color: rgba(0,0,0,.2);
	-webkit-border-radius: 4px
}

.track-list::-webkit-scrollbar-thumb:horizontal {
	width: 50px;
	background-color: rgba(0,0,0,.2);
	-webkit-border-radius: 4px
}

.track-list {
	scrollbar-face-color: #c7c7c7;
	scrollbar-highlight-color: #c7c7c7;
	scrollbar-3dlight-color: #c7c7c7;
	scrollbar-darkshadow-color: #c7c7c7;
	scrollbar-Shadow-color: #c7c7c7;
	scrollbar-arrow-color: #c7c7c7;
	scrollbar-track-color: #ebebeb
}
/* user-order/0.0.1 order-info.css Date:2017-01-17 20:55:24 */
@charset "UTF-8";

#container .order-info-mod .mc {
	border-top-width: 4px
}

.order-info {
	display: inline-block;
	display: block;
	position: relative;
	padding: 15px 0;
	/*height: 600px	*/
}

.order-info:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

* html .order-info {
	height: 1%
}

*+html .order-info {
	min-height: 1%
}

.order-info a {
	color: #333
}

.order-info .ui-switchable-body {
	/*height: 400px;*/
	overflow: hidden
}

.order-info .ui-switchable-panel {
	width: 1210px
}

.order-info .info-page a {
	position: absolute;
	top: 50%;
	margin-top: -48px;
	z-index: 1;
	display: block;
	width: 29px;
	height: 56px;
	line-height: 56px;
	background: #f5f5f5;
	color: #999;
	text-align: center;
	font-size: 26px;
	font-family: simsun
}

.order-info .info-page a.info-prev {
	left: 0
}

.order-info .info-page a.info-next {
	right: 0
}

.order-info .dl {
	float: left;
	padding: 20px 10px 20px 30px;
	width: 360px;
	height: 288px;
	margin: -21px 0 0 -1px;
	border: 1px solid #f1f1f1;
	border-width: 1px 0 0 1px
}

.order-info .dt {
	margin-bottom: 5px
}

.order-info .dt h4 {
	height: 24px;
	color: #333;
	line-height: 24px;
	font-size: 14px;
	font-weight: 400
}

.order-info .dd {
	color: #333;
	line-height: 20px
}

.order-info .item {
	line-height: 24px;
	display: inline-block;
	display: block
}

.order-info .item:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

* html .order-info .item {
	height: 1%
}

*+html .order-info .item {
	min-height: 1%
}

.order-info .item.ext-info {
	display: none
}

.order-info .item .btn-upload {
	display: inline-block;
	width: 90px
}

.order-info .item .btn-upload b {
	float: right;
	margin: 4px 0 0 3px
}

.order-info .item .link-btn {
	display: block
}

.order-info .label {
	float: left;
	width: 84px
}

.order-info .info-rcol {
	float: left;
	width: 250px;
	max-height: 72px;
	overflow: hidden
}

.order-info .help-tip {
	padding-left: 6px
}

.order-info .help {
	display: inline-block;
	vertical-align: middle;
	background: url(../../Images/help_1.png) no-repeat;
	width: 16px;
	height: 16px;
	margin-top: -3px
}

.order-info .more .txt {
	color: #333;
	cursor: pointer
}

.order-info .more b {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 7px;
	height: 7px;
	margin-left: 5px;
	background: url(../../Images/order-icons_2.png) -46px -157px no-repeat;
	overflow: hidden
}

.order-info .close b {
	background-position: -63px -157px
}

.order-info .delivery-type,.order-info .modify-sign {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	height: 16px;
	background-color: #4b9bfb;
	line-height: 16px;
	color: #FFF;
	margin: 3px 0 0 3px;
	border-radius: 6px;
	padding: 0 5px;
	font-size: 12px
}

.root61 .order-info {
	height: 288px;
	overflow: hidden
}

.root61 .order-info .dl {
	width: 262px;
	height: 288px;
	padding: 0 10px 0 30px;
	margin: 0 0 0 -1px;
	border-width: 0 0 0 1px
}

.root61 .order-info .info-rcol {
	width: 178px
}

.root61 .order-info .ui-switchable-panel {
	width: 1210px
}

.root61 .order-info .ui-switchable-body {
	height: 288px
}

.root61 .order-info .info-page a {
	margin-top: -28px
}

.info-prompt-box .item {
	color: #333;
	line-height: 24px
}

.yf-tip {
	padding: 5px 10px
}

.yf-tip a {
	color: #333;
	padding-left: 6px
}

.yf-tip a:hover {
	color: #e4393c
}

.prompt-box-yf {
	text-align: left;
	padding: 16px 10px
}

.prompt-box-yf .yf-title {
	line-height: 24px;
	margin-bottom: 8px
}

.prompt-box-yf .yf-title .title {
	font-weight: 600;
	color: #333
}

.prompt-box-yf .yf-title .tips {
	margin-left: 9px;
	color: #999
}

.prompt-box-yf .yf-box {
	color: #666
}

.prompt-box-yf .yf-box .item {
	line-height: 20px
}

.prompt-box-yf .yf-box .item a {
	display: inline-block;
	cursor: pointer;
	margin-left: 12px;
	color: #333
}

.prompt-box-yf .yf-box .item a:hover {
	color: #e4393c
}

.prompt-box-yf .pc-other {
	border-top: 1px solid #f0f0f0;
	padding-top: 15px;
	margin-top: 15px
}/* user-order/0.0.1 order-goods.css Date:2017-01-17 20:55:24 */
@charset "UTF-8";

.order-goods {
	position: relative;
	z-index: 1
}

.goods-head {
	line-height: 24px;
	overflow: hidden
}

.goods-head .txt {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	color: #333
}

.goods-head .sam-ico {
	width: 48px;
	height: 21px;
	margin: 0 5px 0 0;
	overflow: hidden;
	background: url(../../Images/sam1_2.png) 0 2px no-repeat;
	vertical-align: middle;
	float: left
}

.goods-head .shop-name {
	float: left;
	cursor: pointer;
	margin-bottom: 10px
}

.goods-head #im {
	float: left
}

.goods-list .tb-order {
	border-bottom: 1px solid #eee
}

.goods-list th {
	height: 32px;
	line-height: 32px;
	background: #f9f9f9;
	font-weight: 400;
	color: #333;
	text-align: center
}

.goods-list td {
	vertical-align: top;
	padding: 17px 0 20px;
	border-top: 1px solid #eee;
	text-align: center;
	color: #333
}

.goods-list td a {
	color: #333
}

.goods-list td a:hover {
	color: #e4393c
}

.goods-list .first-tr td {
	border-top: none
}

.goods-list .grap {
	width: 20px;
	padding: 0
}

.goods-list td.grap {
	border-color: #fff
}

.goods-list .p-item {
	margin-top: 3px;
	display: inline-block;
	display: block
}

.goods-list .p-item:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

* html .goods-list .p-item {
	height: 1%
}

*+html .goods-list .p-item {
	min-height: 1%
}

.goods-list .col-goods {
	width: 360px
}

.goods-list .p-img {
	float: left;
	width: 60px;
	height: 60px;
	border: 1px solid #eee
}

.goods-list .p-info {
	float: left;
	width: 280px;
	margin-left: 15px;
	_display: inline;
	text-align: left;
	height: 62px;
	overflow: hidden
}

.goods-list .p-name {
	position: relative;
	height: 40px;
	line-height: 20px;
	overflow: hidden;
	text-align: left;
	margin-bottom: 5px
}

.goods-list .p-extra {
	color: #999
}

.goods-list .plus-price {
	color: #e1a10c;
	padding: 2px
}

.goods-list .plus-price:hover {
	cursor: pointer
}

.goods-list .p-plus {
	width: 40px;
	height: 12px;
	margin-left: -2px;
	display: inline-block;
	background: url(../../Images/plus_1.png) 0 0 no-repeat
}

.goods-list .p-gift,.goods-list .p-recycle,.goods-list .p-recycle-list {
	clear: both;
	padding-top: 15px;
	text-align: left;
	color: #999
}

.goods-list .p-gift .tip,.goods-list .p-recycle .tip,.goods-list .p-recycle-list .tip {
	display: inline-block;
	max-width: 400px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: top;
	margin-right: 10px;
	color: #999
}

.goods-list .p-recycle {
	padding-top: 1px
}

.goods-list .p-recycle .tip {
	cursor: pointer
}

.goods-list .p-recycle .tip:hover {
	color: #e4393c
}

.goods-list .gview-link i {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	width: 16px;
	height: 20px;
	margin: 0 5px 0 20px;
	background: url(../../Images/gview-icons_1.png) top no-repeat
}

.goods-list .gview-link:hover i {
	background-position: 0 -27px
}

.goods-list .p-fine {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	width: 57px;
	height: 20px;
	margin-right: 5px;
	background: url(../../Images/fine_1.png) 0 0 no-repeat
}

.goods-list .p-fresh {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	width: 48px;
	height: 16px;
	margin-right: 5px;
	background: url(../../Images/shengxian_1.png) 0 0 no-repeat
}

.goods-total {
	display: inline-block;
	display: block;
	padding: 20px
}

.goods-total:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

* html .goods-total {
	height: 1%
}

*+html .goods-total {
	min-height: 1%
}

.goods-total ul {
	float: right
}

.goods-total li {
	display: inline-block;
	display: block;
	line-height: 28px
}

.goods-total li:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

* html .goods-total li {
	height: 1%
}

*+html .goods-total li {
	min-height: 1%
}

.goods-total .label {
	float: left;
	width: 500px;
	text-align: right
}

.goods-total .w-label {
	width: 420px;
	float: left;
	text-align: right;
	color: #999
}

.goods-total .wy-label {
	width: 80px
}

.goods-total .txt {
	float: left;
	width: 130px;
	text-align: right;
	font-family: verdana
}

.goods-total .txt .help-tips {
	padding-right: 3px
}

.goods-total .txt i {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../../Images/help_1.png) no-repeat;
	vertical-align: middle;
	margin-right: 5px;
	margin-top: -2px
}

.goods-total .count {
	font-size: 18px;
	font-weight: 700
}

.root61 .goods-list .col-goods {
	width: 500px
}

.root61 .goods-list td {
	padding: 17px 0 20px
}

.root61 .goods-list td.grap {
	padding: 0
}

.root61 .goods-list .p-info {
	width: 355px
}/* user-order/0.0.1 edit-address.css Date:2016-09-27 18:16:50 */
@charset "UTF-8";

.edit-address .btns .btn-cancle {
	display: inline-block;
	text-align: center;
	cursor: pointer;
	border: 1px solid #ddd;
	color: #333;
	border-radius: 2px;
	background-color: #f7f7f7;
	background-image: -moz-linear-gradient(top,#f7f7f7,#f2f2f2);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#f7f7f7),color-stop(1,#f2f2f2));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#f2f2f2', GradientType='0');
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#f2f2f2');
	background-image: linear-gradient(to bottom,#f7f7f7 0,#f2f2f2 100%)
}

.edit-address .btns .btn-cancle .btnico,.edit-address .btns .btn-cancle .btntxt {
	display: inline-block;
	vertical-align: top
}

.edit-address .btns .btn-cancle:hover {
	text-decoration: none;
	color: #333;
	-webkit-box-shadow: 0 1px 1px rgba(0,1,1,.08)3px 5px rgba(0,0,0,.5);
	-moz-box-shadow: 0 1px 1px rgba(0,1,1,.08)3px 5px rgba(0,0,0,.5);
	box-shadow: 0 1px 1px rgba(0,1,1,.08)3px 5px rgba(0,0,0,.5);
	background-color: #f9f9f9;
	background-image: -moz-linear-gradient(top,#f9f9f9,#f6f6f6);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#f9f9f9),color-stop(1,#f6f6f6));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f6f6f6', GradientType='0');
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f6f6f6');
	background-image: linear-gradient(to bottom,#f9f9f9 0,#f6f6f6 100%)
}

.edit-address .items {
	padding-left: 70px;
	margin-top: 30px
}

.edit-address .item {
	margin-bottom: 15px
}

.edit-address .item span.label {
	width: 70px;
	margin-left: 15px;
	color: #333
}

.edit-address .item .label2 {
	width: 59px;
	color: #333
}

.edit-address .item .cont {
	overflow: hidden;
	zoom: 1
}

.edit-address .item .cont .sele {
	width: 160px;
	margin-left: 5px;
	margin-right: 10px;
	line-height: 18px;
	min-height: 18px;
	padding: 5px;
	display: inline-block;
	*display: inline;
	*zoom: 1
}

.edit-address .cont-time,.edit-address .item .ui-areamini-wrap {
	overflow: visible
}

.edit-address .item-zone .ui-area-wrap {
	width: 300px;
	position: relative;
	top: -3px;
	margin-top: -2px;
	line-height: 22px
}

.edit-address .item-zone .ui-area-wrap .ui-area-content-wrap {
	margin-left: 5px;
	width: 400px;
	height: 230px;
	overflow-x: hidden;
	overflow-y: auto
}

.edit-address .item-zone .ui-area-wrap .ui-area-content-wrap .ui-area-close {
	display: none
}

.edit-address .warning-tips {
	clear: both;
	float: none;
	line-height: 16px
}

.edit-address .warning-tips .icon {
	width: 11px;
	height: 15px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	position: relative;
	top: 3px;
	margin-right: 4px;
	background: url(../../Images/order-icons_2.png) no-repeat 0 -92px
}

.edit-address .text {
	width: 200px
}

.edit-address .text::-ms-clear {
	display: none
}

.edit-address .text-phone {
	width: 120px;
	margin-right: 20px
}

.edit-address .text-address {
	width: 330px
}

.edit-address .text-detail {
	width: 160px;
	background-color: #eee;
	color: #888;
	font-size: 12px;
	font-family: "Microsoft Yahei";
	border: 1px solid #eee
}

.edit-address .cont-tips {
	margin: 0 auto 0 85px
}

.edit-address .panel_div_error {
	display: none;
	text-align: center;
	color: #e4393c;
	font-size: 14px
}

.edit-address .btns {
	margin-bottom: 40px;
	text-align: center
}

.edit-address .btns .btn-sure {
	height: 36px;
	line-height: 36px;
	margin-right: 10px;
	display: inline-block;
	margin-top: 10px;
	padding: 0 28px;
	background-color: #e4393c;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	font-family: "宋体";
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px
}

.edit-address .btns .btn-sure .icon {
	width: 16px;
	height: 16px;
	display: block;
	float: left;
	margin-right: 6px;
	margin-top: 7px;
	background: url(../../Images/icon_2.png) no-repeat 0 0
}

.edit-address .btns .btn-sure:hover {
	background-color: #eb5053
}

.edit-address .btns .btn-cancle {
	height: 36px;
	line-height: 36px;
	padding: 0 28px;
	font-size: 14px;
	font-family: "宋体"
}

.edit-address .btns .btn-cancle .btntxt {
	height: 23px
}

.edit-address .error-tips {
	display: none;
	color: #e4393c
}

.edit-address .error-tips .icon {
	width: 17px;
	height: 16px;
	margin-top: 7px;
	margin-right: 5px;
	display: block;
	float: left;
	background: url(../../Images/order-icons_2.png) no-repeat -85px -211px
}

.edit-address .item-error {
	margin-bottom: 2px
}

.edit-address .item-error input {
	border: 1px solid #e4393c
}

.edit-address .item-error .error-tips {
	display: block
}

.edit-address .item-time {
	margin-left: 70px
}

.edit-address .moreaddress {
	width: 694px;
	margin: 30px 40px 0
}

.edit-address .moreaddress .prev {
	width: 25px;
	height: 56px;
	background: url(../../Images/order-icons_2.png) no-repeat -74px -230px;
	display: block;
	position: absolute;
	left: 0;
	top: 130px
}

.edit-address .moreaddress .prev:hover {
	background-position: -24px -230px
}

.edit-address .moreaddress .next {
	width: 25px;
	height: 56px;
	background: url(../../Images/order-icons_2.png) no-repeat -49px -230px;
	display: block;
	position: absolute;
	right: 0;
	top: 130px
}

.edit-address .moreaddress .next:hover {
	background-position: 1px -230px
}

.edit-address .moreaddress .btn_disable {
	display: none
}

.edit-address .moreaddress .item-time {
	margin-left: 0;
	margin-top: 20px
}

.edit-address .add-slider {
	height: 268px;
	width: 695px;
	overflow: hidden
}

.edit-address .add-slider .wrap_each {
	height: 268px;
	width: 9999px
}

.edit-address .add-slider .each {
	width: 601px;
	height: 268px;
	padding-left: 110px;
	float: left
}

.edit-address .add-slider .each .unfold {
	width: 454px;
	height: 264px;
	margin-right: 16px;
	border: 2px solid #e4393c;
	float: left;
	position: relative
}

.edit-address .add-slider .each .unfold .icon_selected {
	width: 20px;
	height: 21px;
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
	background: url(../../Images/order-icons_2.png) no-repeat 0 -205px
}

.edit-address .add-slider .each .unfold .items {
	padding-left: 0
}

.edit-address .add-slider .each .unfold .items .text-phone {
	margin-right: 10px
}

.edit-address .add-slider .each .unfold .ui-area-wrap .ui-area-content-wrap {
	height: 130px
}

.edit-address .add-slider .each .fold {
	width: 218px;
	margin: 1px 16px 1px 1px;
	border: 1px solid #ddd;
	float: left;
	position: relative;
	height: 264px;
	color: #333;
	cursor: pointer
}

.edit-address .add-slider .each .fold .icon_select {
	width: 20px;
	height: 21px;
	display: block;
	position: absolute;
	bottom: 0;
	border-right: 1px solid #ddd;
	right: 0;
	background: url(../../Images/order-icons_2.png) no-repeat -22px -205px
}

.edit-address .add-slider .each .fold:hover {
	width: 216px;
	margin: 0 17px 0 0;
	border: 2px solid #e4393c
}

.edit-address .add-slider .each .fold:hover .icon_select {
	right: 0;
	bottom: 0;
	border: none;
	background-position: -21px -205px
}

.edit-address .add-slider .each .fold .name {
	line-height: 25px;
	height: 25px;
	font-size: 20px;
	font-weight: 700;
	color: #333;
	margin: 30px auto 19px 22px
}

.edit-address .add-slider .each .fold .phone {
	line-height: 20px;
	height: 20px;
	margin-bottom: 10px;
	font-size: 12px
}

.edit-address .add-slider .each .fold .phone .icon {
	width: 10px;
	height: 15px;
	display: block;
	margin: 2px 5px auto 22px;
	float: left;
	background: url(../../Images/order-icons_2.png) no-repeat -105px -211px
}

.edit-address .add-slider .each .fold .address {
	line-height: 20px;
	height: 20px;
	font-size: 12px
}

.edit-address .add-slider .each .fold .address .icon {
	width: 10px;
	height: 13px;
	display: block;
	margin: 2px 5px auto 22px;
	float: left;
	background: url(../../Images/order-icons_2.png) no-repeat -118px -212px
}

.edit-address .add-slider .each .fold .address .address_cont {
	margin-right: 22px;
	overflow: hidden;
	zoom: 1
}

.edit-address .add-slider .each .fold_hover {
	width: 216px;
	margin: 0 17px 0 0;
	border: 2px solid #e4393c
}

.edit-address .add-slider .each .fold_hover .icon_select {
	right: 0;
	bottom: 0;
	border: none;
	background-position: -21px -205px
}

.edit-address .add-slider .each .unfold_area {
	height: auto;
	overflow-y: auto;
	overflow-x: hidden
}

.edit-address .add-slider .each_edit {
	width: 711px;
	padding-left: 0
}

.edit-address .add-slider .each_edit .unfold {
	display: block
}

.edit-address .add-slider .each_edit .fold {
	margin: 1px 16px 1px 1px
}

.edit-address .add-slider .each_edit .fold:hover {
	width: 216px;
	margin: 0 17px 0 0;
	border: 2px solid #e4393c
}

.edit-address .add-slider .each_edit .tosmall {
	overflow: hidden
}

.edit-address .add-slider .each_edit .ui-area-content-wrap {
	position: static;
	margin-top: -3px
}

.edit-address .add-slider .item-time {
	margin-top: 20px;
	margin-left: 0
}

.edit-address .add-slider .item-time .label {
	width: 70px;
	margin-left: 4px
}

.leadtime-cont {
	width: 213px;
	position: relative;
	float: left
}

.leadtime-cont .icon {
	width: 15px;
	height: 14px;
	display: block;
	position: absolute;
	top: 7px;
	right: 5px;
	background: url(../../Images/order-icons_2.png) no-repeat -48px -213px
}

.leadtime-cont p {
	line-height: 25px
}

.leadtime-cont-act .icon {
	background-position: -66px -213px
}

body .date-text-tips {
	padding: 0;
	border: none;
	margin: 0 auto 0 -125px
}

body .date-text-tips .ui-tips-arrow {
	width: 17px;
	height: 9px;
	position: absolute;
	display: block;
	z-index: 11;
	bottom: -8px;
	left: 317px;
	background: url(../../Images/cursor_1.png) no-repeat 0 -9px
}

body .multi-item-tips {
	margin: 0 auto 0 -75px
}

body .multi-item-tips .ui-tips-arrow {
	left: 266px
}

#layer-order .leadtime-cont .label {
	width: auto
}

#date-delivery {
	background: #fff;
	border: 1px solid #ccc;
	overflow: hidden;
	z-index: 10
}

#date-delivery .inner {
	position: relative
}

#date-delivery .date span,#date-delivery .th dt {
	float: left;
	height: 40px;
	padding: 5px 0;
	border: solid #eee;
	border-width: 0 1px 1px 0;
	text-align: center;
	line-height: 20px
}

#date-delivery .th dt {
	width: 85px;
	padding-left: 15px;
	line-height: 40px;
	text-align: left
}

#date-delivery .th .fix {
	width: auto;
	float: none;
	line-height: 30px;
	height: 30px;
	border: none;
	padding: 0 15px;
	color: #999
}

#date-delivery .date {
	overflow: hidden;
	float: left
}

#date-delivery .date dd {
	float: left
}

#date-delivery .date span {
	width: 50px
}

#date-delivery .date .hover {
	background-color: #edf9e6
}

#date-delivery .time {
	clear: both
}

#date-delivery .time span {
	display: block;
	width: 85px;
	padding-left: 15px;
	height: 30px;
	border: solid #eee;
	border-width: 0 1px 1px 0;
	line-height: 30px
}

#date-delivery .time .hover {
	background-color: #edf9e6;
	color: #7ABD54
}

#date-delivery .data {
	position: absolute;
	top: 51px;
	left: 101px;
	overflow: hidden
}

#date-delivery .data ul {
	float: left
}

#date-delivery .data ul li {
	width: 50px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: solid #eee;
	border-width: 0 1px 1px 0;
	cursor: pointer;
	color: #7ABD54
}

#date-delivery .data ul li.disabled {
	cursor: not-allowed
}

#date-delivery .data ul .selected {
	background-color: #7ABD54;
	color: #fff
}

#date-delivery .data ul .hover {
	background-color: #edf9e6;
	color: #7ABD54
}

#date-delivery .data ul .thishover {
	background-color: #7ABD54;
	color: #fff
}

.ui-dialog .ui-dialog-close {
	width: 11px;
	height: 11px;
	background: url(../../Images/order-icons_2.png) no-repeat -118px -184px
}

.wrap-notfound .icon-box {
	margin: 50px 70px
}

.wrap-notfound .icon-box h3 {
	font-weight: 700
}

.wrap-notfound .icon-box .txt {
	color: #999
}

.wrap-notfound .icon-box .op-btns {
	text-align: center;
	margin-top: 19px
}

.wrap-notfound .icon-box .item-fore {
	margin-left: 66px
}

.wrap-notfound .ui-dialog-close {
	width: 11px;
	height: 11px;
	background: url(../../Images/order-icons_2.png) no-repeat -118px -184px
}

.op-tipmsg {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	background: #fff;
	border: 1px solid #CCC;
	padding: 0 22px;
	height: 38px;
	line-height: 38px;
	color: #333;
	font-size: 14px;
	font-family: "Microsoft YaHei";
	box-shadow: 0 0 2px 2px #EEE
}

.op-tipmsg .s-icon {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	margin-right: 10px;
	width: 16px;
	height: 16px;
	overflow: hidden;
	background: url(../../Images/order-icons_2.png) no-repeat -98px -181px
}
/* user-order/0.0.1 ui-slidebar.css Date:2016-03-31 15:13:58 */
@charset "UTF-8";

.ui-slidebar {
	width: 86px;
	margin-left: 405px;
	position: fixed;
	right: 0;
	bottom: 150px;
	z-index: 100
}

.ui-slidebar .jd-im {
	display: block;
	width: 86px;
	height: 80px;
	background: url(../../Images/joygif_2.gif) no-repeat
}

.ui-slidebar .jd-im:hover {
	background: url(../../Images/joygif_hover_2.gif) no-repeat
}

.ui-slidebar .dt {
	width: 86px
}

.ui-slidebar .dd {
	float: right;
	width: 42px
}

.ui-slidebar .dd li {
	position: relative;
	height: 42px
}

.ui-slidebar .dd .backtop,.ui-slidebar .dd .feedback,.ui-slidebar .dd .problem,.ui-slidebar .dd .service {
	display: block;
	width: 42px;
	height: 42px;
	background: url(../../Images/slidebar-icon-new_2.png) no-repeat
}

.ui-slidebar .dd .backtop:hover,.ui-slidebar .dd .feedback:hover,.ui-slidebar .dd .problem:hover,.ui-slidebar .dd .service:hover {
	background-color: #c81623
}

.ui-slidebar .dd .service {
	background-position: 0 -1px;
	background-color: #ccc
}

.ui-slidebar .dd .feedback {
	border-top: 1px dotted #fff;
	background-position: 0 -43px;
	background-color: #ccc
}

.ui-slidebar .dd .feedback:hover {
	background-position: -52px -43px
}

.ui-slidebar .dd .backtop {
	border-top: 1px dotted #fff;
	background-position: 0 -86px;
	background-color: #999
}

.ui-slidebar .dd .problem {
	background-position: 0 -129px;
	background-color: #ccc
}

.ui-slidebar .dd .service-cont {
	display: none;
	position: absolute;
	width: 155px;
	height: 140px;
	padding: 10px;
	right: 42px;
	top: -50px;
	background: #fbfbfb;
	border: 1px solid #f5f5f5;
	text-align: center;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.12);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.12);
	box-shadow: 0 0 10px rgba(0,0,0,.12)
}

.ui-slidebar .dd .service-cont h4 {
	margin-bottom: 10px;
	font-weight: 400
}

.ui-slidebar .dd .problem-cont {
	width: 120px;
	height: auto;
	padding: 0 10px 10px;
	text-align: left
}

.ui-slidebar .dd .problem-cont .problem-top {
	display: inline-block;
	display: block;
	line-height: 30px;
	margin-bottom: 5px;
	border-bottom: 1px solid #eee
}

.ui-slidebar .dd .problem-cont .problem-top:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

* html .ui-slidebar .dd .problem-cont .problem-top {
	height: 1%
}

*+html .ui-slidebar .dd .problem-cont .problem-top {
	min-height: 1%
}

.ui-slidebar .dd .problem-cont .problem-top h5 {
	float: left;
	font-weight: 700;
	color: #333;
	font-size: 12px
}

.ui-slidebar .dd .problem-cont .problem-top .close {
	float: right;
	cursor: pointer;
	color: #aaa;
	font-size: 12px;
	font-family: Verdana;
	z-index: 2
}

.ui-slidebar .dd .problem-cont .problem-list a {
	display: block;
	line-height: 20px;
	margin-bottom: 5px;
	color: #666
}

.ui-slidebar .dd .problem-cont .problem-list a.more {
	color: #333
}

.ui-slidebar .dd .hover .service-txt b,.ui-slidebar .dd .problem-show .service-txt b {
	display: block;
	position: absolute;
	top: 17px;
	left: -1px;
	width: 0;
	height: 0;
	border-style: dashed dashed dashed solid;
	border-width: 5px;
	border-color: transparent transparent transparent #fff;
	overflow: hidden;
	zoom: 1;
	font-size: 0;
	z-index: 5
}

.ui-slidebar .dd .hover .service-cont,.ui-slidebar .dd .problem-show .service-cont {
	display: block
}

.ui-slidebar .dd .hover .problem,.ui-slidebar .dd .hover .service,.ui-slidebar .dd .problem-show .problem,.ui-slidebar .dd .problem-show .service {
	background-color: #c81623
}

.root61 .ui-slidebar {
	margin-left: 560px
}
